<div class="wrap">
  <div class="text-hash">
      <ng-container *ngIf="Hash">
          <p class="title">Your Hash Code</p>
          <p class="title text">{{Hash}}</p>
      </ng-container>
    </div>
  <form class="form__container">
    <div class="form">
      <h1 class="title">Add file</h1>
      <div class="input_file">
        <span class="title text">{{file ? file.name : 'drag and drop file here' }}</span>
        <input id="file" #fileInput  (change)="processFile(fileInput)" class="input_file--none" type="file">
      </div>
      <button class="btn--submit text" type="button" (click)="sendFile()">Send</button>
    </div>
  </form>
</div>
