/* You can add global styles to this file, and also import other style files */
//@import '~normalize-scss/sass/_normalize.scss';
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
// @import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');
@import '~pretty-checkbox/src/pretty-checkbox.scss';

html, body {
  height: 100%;
  width: 100%;
}

$textColor: #ed6363;
$colorBackground: #003545;
$colorElements: #ed6363;
$btnColor: #00454a;
$btnHover: #3c6562;
$font: 'Questrial', sans-serif;

body {
  background: linear-gradient(111deg #3c6562, #00454a, #00454a, #3c6562);
  background-size: 1200% 1200%;

  -webkit-animation: gradientForApp 13s ease infinite;
  -moz-animation: gradientForApp 13s ease infinite;
  -o-animation: gradientForApp 13s ease infinite;
  animation: gradientForApp 13s ease infinite;

  @-webkit-keyframes gradientForApp {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }
  @-moz-keyframes gradientForApp {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }
  @-o-keyframes gradientForApp {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }
  @keyframes gradientForApp {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
  }

  .title {
    margin: 0;
    font-size: 40px;
    color: $textColor;
    letter-spacing: 4px;
    font-family: $font;
  }

  .text {
    font-size: 30px;
  }

  .text--center {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 16%;
  }

  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: $textColor;
  }

  a:link, a:visited, a:focus {
    background: $btnColor;
  }

  a:hover {
    background: $btnHover;
  }

  a:active {
    background: $colorBackground;
  }
}
